 *{
    margin : 0;
    padding: 0px;
    box-sizing: border-box;
} 
.footer{
    background-color: rgb(46, 44, 44);
    padding: 70px 0px;
}
.container{
    max-width: 1170px;
    margin: auto;
     margin-right: 10px;
    margin-left: 10px; 
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -300px;
    text-align: left; 
    column-gap: 30px; 
}

.footer-col{
    width: 25%;
    padding: 0px 15px;
     padding-left: 30px;
    padding-right: 10px; 
    }
.footer-col h4{
    font-size: 18px;
    color: white;
    font-weight: lighter;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}

/* .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: blue;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}  */
 .para{
    color: gray;
    

}

.subtitle{
    color: white;
}

.black-button{
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding: 5px 5px;
    margin: 5px;
    font-style: italic;

    &:hover{
        color: red;
    }
    
  }
.link{
    color: rgb(165, 80, 80);
    &:hover {
        color: rgb(155, 21, 21);
        transition: 500ms ease-in;
  }
}

.copyright{
    color: gray;
    margin-top: px;
    font-weight: lighter;
    
}
.cr{
    background-color: black;
   
}

.bold{
    font-weight: bold;
}

.black-button1{
    background: rgba(0, 0, 0, 0.3);
    color: gray;
    display: inline-block;
    font-size: 13px;
    padding: 5px 5px;
    margin: 5px;
    font-style: italic;
    

    &:hover{
        color: rgb(241, 232, 232);
        
    }

}



/* Responsive */
@media (max-width: 767px) {
    .footer-col, .cr{
        width: 50%;
        margin-bottom: 30px;
        margin-left: 0;
    }
}

@media (max-width: 400px) {
    .footer-col{
        width: 100%;
       
       
    }
}